.container {
	position: relative;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.controls {
	display: flex;
	gap: 4rem;
	justify-content: center;
	margin-top: 3rem;
}

.sliderContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.sliderTrack {
	width: 44px;
	height: 200px;
	background-color: light-dark(#eee, #333);
	border-radius: 22px;
	position: relative;
	overflow: hidden;
}

.sliderHandle {
	width: 44px;
	height: 44px;
	background-color: #646cff;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	cursor: grab;
	touch-action: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	user-select: none;
}

.sliderHandle:active {
	cursor: grabbing;
	background-color: #535bf2;
}

.sliderFill {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #646cff;
	opacity: 0.3;
}
